<%- include('partials/header'); -%>

<div class="compose-container main">
  <h1 class="small-heading">Compose</h1>

  <form action="/compose" method="POST">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="titleText" autocomplete="off" maxlength="70" required />
    </div>

  
    <div class="form-group">
      <label>Post</label>
      <textarea class="form-control" name="composeText" rows="5" required></textarea>
    </div>
  
    <button type="submit" class="btn btn-success" name="publishButton">
      Publish
    </button>

  </form>
</div>

<%- include('partials/footer'); -%>
